.card {
  max-width: 100%;
  background-color: lightgrey;
  border-radius: 20px;
}

.types {
  flex: 1;
}
.artwork {
  flex: 3;
}

.artwork img {
  max-width: 50%;
  margin: auto;
  display: block;
}
